doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title HTML + CSS Primer

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 HTML + CSS Primer
        p
          img(src="images/tom-gordon.jpg", width="100", style="border-radius:10px")
        h2 Tom Gordon, Front End Developer <br>@ <a href="http://www.squareweave.com.au">Squareweave</a>

      section
        h2 Why code?
          ul
            li To help!
            li To help understand technology better
            li Exciting, ever changing...

      section(style="background-image:url(images/mind-blown.gif)")

      section
        h1 Purpose
        ul
          li HTML is used in Nationbuilder, and in order to tweak it helps to know a bit about what's going on with the web code.
          li HTML?
          li CSS?
          li HTML/CSS?

      section
        h2 HTML
        ul
          li ???
          li Hard To Make Learn
          li Hyper Text Markup Language

      section(style="background-image:url(images/exterminate.gif)")

      section
        h2 HTML is the structure and content of the web.
        p
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px;")

      section
        h2 HTML Tags
        p Wrap text in 'tags' to denote its structure.<br><br>
        p.
           &lt;h1&gt;The main heading on the page&lt;/h1&gt; <br>
           &lt;p&gt;Paragraph text&lt;/p&gt; <br>
           &lt;strong&gt;<strong>Bold, alerting text</strong>&lt;/strong&gt; <br>
           &lt;em&gt;<em>Italic, emphasised text</em>&lt;/em&gt;.

      section
        h2 Layout tags
        p &lt;div&gt;This is a divided piece of content&lt;/div&gt;
        p &lt;header&gt;This is a header!&lt;/header&gt;
        p &lt;footer&gt;This is a footer!&lt;/footer&gt;

      section
        h2 Attributes
        ul
          li &lt;a <strong>href="http://www.google.com"</strong>&gt;Link to google&lt;/a&gt;
          li
            a(href="http://www.google.com", target="_blank")
              strong Link to google
          li &lt;img src="http://www.factzoo.com/sites/all/img/birds/great-hornbill-flying.jpg" width="100" / &gt;
          li
            img(src='http://www.factzoo.com/sites/all/img/birds/great-hornbill-flying.jpg', width="100")

      section
        h2 But why is this necessary?
          p
            img(src="images/trash-heap.jpg", width="200", style="display:inline-block")
            img(src="images/exterminate.gif", width="230", style="display:inline-block")

      section
        h2 Codepen without css classes.
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/pjNeYe/?height=400&theme-id=0&default-tab=html', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/pjNeYe/?height=400&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        p
          img(src="images/example-nb-markup.png", style="width:100%;")
        p
          img(src="images/html-button.png")

      section
        p
          img(src="images/html.png", style="width:100%;")

      section
        h2 Exercise:
        p Using provided HTML tags and data, <br>markup some provided text:<br><br>
        p
          a(href="http://goo.gl/igvXQ0", target="_blank") http://goo.gl/igvXQ0
        pre
          code.language-html.
            paragraph = &lt;p&gt;Paragraph text&lt;p&gt;
            strong/bold = &lt;strong&gt;Bold text&lt;/strong&gt;
            emphasis/italic= &lt;em&gt;Testing&lt;/em&gt;
            link= &lt;a href="full_link_here"&gt;LINK TEXT&lt;/a&gt;
            headings (typically 1-6)= &lt;h1&gt;&lt;/h1&gt;
            images= &lt;img src="image_link_here"
            width="width_in_numbers" /&gt;
            buttons = &lt;button&gt;button text&lt;/button&gt;.



      section
        h2 CSS
        ul
          li Cascading Style Sheets
          li Adding the style to the skeleton.
        p
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px;", width="100")
          //todo: add two fancy birds here.
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px;", width="100")
          //todo: add two fancy birds here.
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px;", width="100")

        p.
          Think of CSS as the visual arrangement of elements. HTML is largely for computers to read,
          CSS is for humans to see.

      section
        h2 There are three ways of defining CSS.

      section
        h2 IDs
        p.
          IDs are added to a HTML tag via an attribute, and can only be used once per web page. Avoid using these for styling because of
          this restriction.
        //todo: embedded codepen
        pre
          code.language-html.
            &lt;div id="site-header"&gt;the site's header appears only once&lt;/div&gt;

      section
        h2 Classes
        p.
          Classes are the most commonly used CSS designator. They can be reused multiple times per page. You can also have
          more than one class on an element.
        //todo: embedded codepen
        pre
          code.language-html.
            &lt;div class="content-image"&gt;This div can be repeated.&lt;/div&gt;

      section
        h2 Inline
        ul
          li Inline styles are used to quickly add style to an HTML markup element.
          li These can be used in the NationBuilder web content editor!
        //todo: embedded codepen

      section
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/rOWmjK/?height=350&theme-id=0&default-tab=css', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/rOWmjK/?height=350&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        p Using provided HTML tags and data, <br>style some provided text:<br><br>
        pre
          code.language-css.
            color:red;
            font-size:22px;
            font-weight:bold;
            text-decoration:strike-through

      section
        h2 Wait! Bold is both HTML and CSS!

      //todo: Final bird

      section
        h2 Extra resources
        ul
          li <a href="http://thomas-gordon.github.io/HTML-CSS-Primer">This presentation: http://thomas-gordon.github.io/HTML-CSS-Primer</a>
          li <a href="">HTML/CSS interactive free course</a>
          li <a href="">CSS-tricks Almanac for CSS elements</a>
          li <a href="">HTML5 Doctor for all HTML elements</a>
          li <a href="">Me on <a href="http://www.twitter.com/tomgwebdev">twitter!</a>
          li <a href="">My codepen with a list of all the things I've gone over today</a>

    script(src='build/build.js')