doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title HTML + CSS Primer

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 HTML + CSS Primer
        p
          img(src="images/tom-gordon.jpg", width="100", style="border-radius:10px")
        h2 Tom Gordon, Front End Developer <br>@ <a href="http://www.squareweave.com.au">Squareweave</a>

      section
        h2 Why code?
          ul
            li To help!
            li To help understand technology better
            li Exciting, ever changing...

      section(style="background-image:url(images/mind-blown.gif)")

      section
        h2 Purpose
        ul
          li HTML is used in Nationbuilder, and in order to tweak it helps to know a bit about what's going on with the web code.
          li HTML?
          li CSS?
          li HTML/CSS?

      section
        h2 HTML
        ul
          li ???
          li Hard To Make Learn
          li Hyper Text Markup Language

      section
        h2 HTML is the structure and content of the web.
        p
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px;")

      section(style="background-image:url(images/exterminate.gif)")

      section
        p Wrap text in 'tags' to tell the browser what it is!<br><br>
        code.smaller.
           &lt;h1&gt;The main heading on the page&lt;/h1&gt; <br>
           &lt;p&gt;Paragraph text&lt;/p&gt; <br>
           &lt;strong&gt;<strong>Bold, alerting text</strong>&lt;/strong&gt; <br>
           &lt;em&gt;Italic, emphasised text&lt;/em&gt;.
        br
        br
        p
          img(src="images/markup-result.png", style="width:400px;")

      section
        pre
          code.language-html.smaller &lt;a <strong>href="http://www.google.com"</strong>&gt;Link to google&lt;/a&gt;<br><br>
        p.smaller
          a(href="http://www.google.com", target="_blank")
            strong Link to google

      section
        pre
          code.language-html.smaller &lt;img src="www.factzoo.com/sites/all/img/birds/great-hornbill-flying.jpg" width="100" / &gt; <br><br>
        p.smaller
          img(src='http://www.factzoo.com/sites/all/img/birds/great-hornbill-flying.jpg', width="100")

      section
        h2 But why is this necessary?
          p
            img(src="images/trash-heap.jpg", width="200", style="display:inline-block")
            img(src="images/exterminate.gif", width="230", style="display:inline-block")

      section
        h2 Codepen without css classes.
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/pjNeYe/?height=400&theme-id=0&default-tab=html', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/pjNeYe/?height=400&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        p
          img(src="images/example-nb-markup.png", style="width:100%;")
        p
          img(src="images/html-button.png")

      section
        p
          img(src="images/html.png", style="width:100%;")

      section
        h2 Exercise:
        p Using provided HTML tags and data, <br>markup some provided text:<br><br>
        p
          a(href="http://goo.gl/igvXQ0", target="_blank") http://goo.gl/igvXQ0
        pre
          code.language-html.
            paragraph = &lt;p&gt;Paragraph text&lt;p&gt;
            strong/bold = &lt;strong&gt;Bold text&lt;/strong&gt;
            emphasis/italic= &lt;em&gt;Testing&lt;/em&gt;
            link= &lt;a href="full_link_here"&gt;LINK TEXT&lt;/a&gt;
            headings (typically 1-6)= &lt;h1&gt;&lt;/h1&gt;
            images= &lt;img src="image_link_here"
            width="width_in_numbers" /&gt;
            buttons = &lt;button&gt;button text&lt;/button&gt;.

      section
        h2 CSS
        ul
          li Cascading Style Sheets
          li Adding the style to the skeleton.
        p
          img(src="images/bird-skeleton.jpeg", style="margin-top:20px; vertical-align:middle", width="100")
          img(src="images/toucan.jpeg", style="margin-top:20px;vertical-align:middle", width="170")
          img(src="images/lahore.jpg", style="margin-top:20px;vertical-align:middle", width="140")
        br
        p.
          HTML is largely for computers and search,
          CSS is for humans.

      section
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/rOWmjK/?height=350&theme-id=0&default-tab=css', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/rOWmjK/?height=350&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        h2 There are three ways of defining CSS.

      section
        h2 IDs
        p.
          IDs are used to style HTML tags when that tag is unique on the page.

      section(style="background-image:url(images/id.jpg)")

      section
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/meOwem/?height=350&theme-id=0&default-tab=css', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/meOwem/?height=350&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        h2 Classes
        p.
          Classes are used to style HTML tags when that tag or block occurs multiple times on the page.

      section(style="background-image:url(images/blue-men.jpg)")

      section
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/KdNqdG/?height=350&theme-id=0&default-tab=css', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/KdNqdG/?height=350&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        h2 Inline
        ul
          li Inline styles are used to quickly add style to an HTML markup tag.
          li These can be used in the NationBuilder web content editor!

      section(style="background-image:url(images/sugar.gif)")

      section
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/LpbLGG/?height=350&theme-id=0&default-tab=html', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')
        iframe(height='100%', scrolling='no', src='//codepen.io/thomas-gordon/embed/LpbLGG/?height=350&theme-id=0&default-tab=result', frameborder='no', allowtransparency='true', allowfullscreen='true', style='width: 100%;')

      section
        p Using provided CSS properties, <br> use inline styles to adjust:<br><br>
        p
          a(href="http://goo.gl/tcZ2Sc", target="_blank") http://goo.gl/tcZ2Sc

        pre
          code.language-html.
            eg. &lt;span style="font-size:22px;"&gt;This is now font size 22px&lt;span&gt;
        pre
          code.language-css.
            color:red;
            color:green;
            font-size:22px;
            font-weight:bold;
            text-decoration:line-through;
            font-family: 'Papyrus', arial, sans-serif

      section
        h2 Wait! Bold is both HTML and CSS!
        pre
          code.language-html.
            &lt;strong&gt;Bold text!&lt;/strong&gt;
            &lt;div style="font-weight:bold"&gt;...Bold text!&lt;/div&gt;

      section
        h2 Same goes for underline and strike-through.

      section
        h2 Wrapping up and extra resources
        ul.smaller
          li <a href="http://www.colorpicker.com/">A colour picker for your CSS properties</a>
          li <a href="http://thomas-gordon.github.io/HTML-CSS-Primer">This presentation: http://thomas-gordon.github.io/HTML-CSS-Primer</a>
          li <a href="https://www.codecademy.com/tracks/web">HTML/CSS interactive free course</a>
          li <a href="https://css-tricks.com/almanac/">CSS-tricks Almanac for CSS properties and selectors.</a>
          li <a href="https://www.stackoverflow.com/">For all your development queries, stackoverflow.</a>
          li <a href="http://html5doctor.com/">HTML5 Doctor for all HTML elements</a>
          li <a href="https://twitter.com/tomgwebdev">Me on <a href="http://www.twitter.com/tomgwebdev">twitter!</a>
          li <a href="http://codepen.io/collection/AdbKBJ/">All of the codepens from today.</a>

    script(src='build/build.js')